header {
  background-image: url("images/banner.jpg");
  background-color: #494d53;
  background-position: center center;
  background: repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 12em;
}

body {

}

h1 {

}

p {

}

footer {

}

copyright {

}
