h1 {

}

body {
  font-family: "Helvetica";
  color: #696969;
}

.copyright {

}

.wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

header  {
  color: white;
  background-color: #474747
}
